[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStartPre=-/usr/bin/mkdir -p /opt/bin
ExecStartPre=/bin/bash -c '/usr/bin/wget -N -P /opt/bin https://storage.googleapis.com/kubernetes-release/release/_K8S_VERSION_/bin/linux/amd64/kube-apiserver'
ExecStartPre=/usr/bin/chmod +x /opt/bin/kube-apiserver
ExecStart=/opt/bin/kube-apiserver \
 --allow_privileged=true \
 --insecure_bind_address=0.0.0.0 \
 --insecure_port=8080 \
 --kubelet_https=true \
 --secure_port=6443 \
 --service-cluster-ip-range=10.100.0.0/16 \
 --etcd_servers=http://127.0.0.1:2379 \
 --public_address_override=10.222.1.1 \
 --cloud_provider=gce \
 --cors_allowed_origins=.* \
 --logtostderr=true \
 --runtime_config=api/v1

Restart=always
RestartSec=10

[X-Fleet]
MachineMetadata=role=master
