[Unit]
Description=Kubernetes Registration Service
Documentation=https://github.com/kelseyhightower/kube-register
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
ExecStartPre=/bin/bash -c '/usr/bin/wget -N -O /opt/bin/kube-register https://github.com/kelseyhightower/kube-register/releases/download/v0.0.4/kube-register-0.0.4-linux-amd64'
ExecStartPre=/usr/bin/chmod +x /opt/bin/kube-register
ExecStart=/opt/bin/kube-register \
 --metadata=role=node \
 --fleet-endpoint=http://127.0.0.1:2379 \
 --api-endpoint=http://127.0.0.1:8080 \
 --reverse-lookup=true \
 --healthz-port=10248

Restart=always
RestartSec=10

[X-Fleet]
MachineOf=kube-apiserver.service
