[Unit]
Description=prod-website1

[Service]
User=core
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm prod-website1
ExecStart=/usr/bin/docker run --rm --name prod-website1 -p 80:80 \
-v /home/core/share/nginx/html:/usr/share/nginx/html \
website1:latest
#
ExecStop=/usr/bin/docker stop prod-website1
ExecStopPost=-/usr/bin/docker rm prod-website1

Restart=always
RestartSec=10s

[X-Fleet]
Global=true
MachineMetadata=service=website1
